ollama
openai
llama-index
langchain
fastapi
pydantic
streamlit
dotenv
groq
google-genai
ipykernel
llama-index-llms-groq
langchain-community
langchain-groq
langchain-text-splitters
langchain-huggingface
langchain-chroma
sentence-transformers
unstructured
unstructured[pdf]
nltk
langchain-classic
pytesseract
pdf2image
poppler-utils  
huggingface_hub[hf_xet]
chromadb
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
rank_bm25
markdown
PyPDF2
python-docx
